{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Bahman Shadmehr|Programmer{% endblock %}

{% block links %}<link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}">{% endblock %}

{% block content %}
	<h1 class="display-2 text-white text-center" style="margin-top: 100px;">Coming Soon...</h1>
	<div class="row justify-content-center" style="margin-top: 50px;">
			<div class="btn-group">
				<a href="#" class="btn btn-primary">Link Gatherer</a>
				<a href="#" class="btn btn-primary">Link Gatherer</a>
			</div>
	</div>
{% endblock %}